<div class="nav2">
<div>
    <% if (typeof logName !='undefined' ){ %>
        Welcome <%= logName %>
            <% } %>
</div>
<nav class="navIn">
    <a href="/edit">Edit Pages</a>
    <a href="/add">Add Pages</a>
    <a href="/logout">Logout</a>
</nav>
</div>